{
  "server": {
    "name": "localhost",
    "ws_port": 8081,
    "ssl": false
  },
  "hosts": {
    "host1": "HOST1",
    "host2": "HOST2"
  },
  "loginmodes": {
    "tsd-fx01.tsd.usit.no": "otp",
    "mosler.bils.se": "pw"
  }
}