{
  "server": {
    "name": "domain name",
    "ws_port": 443,
    "ssl": true
  },
  "hosts": {
    "host1": "HOST1",
    "host2": "HOST2"
  },
  "loginmodes": {
    "HOST1": "otp",
    "HOST2": "pw"
  },
  "message": "terms of allowing usage of cookie at the bottom of browser"
}