{
  "server": {
    "name": "domain name",
    "ws_port": 443/80,
    "ssl": true/false
  },
  "hosts": {
    "host1": "HOST1",
    "host2": "HOST2"
  },
  "loginmodes": {
    "HOST1": "otp",
    "HOST2": "pw"
  },
  "otp_hosts": ["HOST1"],
  "message": "terms of allowing usage of cookie at the bottom of browser"
}