.panel.panel-info.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.login-form {
    padding-bottom: 15px;
}

.btn-connect, .btn-disconnect {
	margin-top: .4em;
	margin-top: .4em;
}

.form-input {
	margin: .4em .2em;
}

#waiting-box {
    display: none;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
}

#gray-screen {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}
/*
 * NeIC inspired styling
 */
h1.site-title {
    font-family: "arial black";
    font-size: 28px;
    margin: 0 .2em -0.5em 0;
    color: #6944D0;
    letter-spacing: -2px;
     opacity: .37;
}
a,
a:link,
a:hover,
a:visited {
	color: #6944D0;
}
.btn {
    background: #6944D0!important;
    color: white!important;
    border-radius: 0;
}
.panel {
    border-radius: 0!important;
}
.panel-info {
    background: #efefef!important;
    border: 8px solid black!important;
    border-radius: 0;
}
.panel-title {
	color: #9880DA;
	font-weight: bold;
}
.panel-info.host1 {
    border-width: 4px 2px 2px 4px!important;
}
.panel-info.host2 {
    border-width: 4px 4px 2px 2px!important;
}
.panel-default > .panel-footer {
	border: 4px solid black;
    border-width: 2px 4px 4px 4px;
	height: 56px!important;
	padding: 1em;
}
.progress {
	width: 80%;
    float: right;
}
@media screen and (max-width: 991px) {
    .panel-info.host1,
    .panel-info.host2 {
        border-width: 4px 4px 2px 4px!important;
    }
    .panel-default > .panel-footer {
        border-width: 2px 4px 4px 4px!important;
    }
}
.panel-heading {
    background: black!important;
    color: white!important;
    font-weight: bold!important;
}
input.form-input {
    border-radius: 0!important;
}
#host1-path,
#host2-path {
    background: #ddd!important;
}
.dataTable tr.selected {
	background: #E4DFEF!important;
}
.dataTables_wrapper {
    display: block;
    overflow: hidden;
}
.dataTables_length {
    margin-left: .6em;
}
.panel {
    margin: 0;
}
.paginate_button:hover {
    background: #6944D0!important;
}
.paginate_button a {
    opacity: 0.9;
}
.panel-default {
    padding: 0;
}
.panel-default >.panel-body {
    margin: -1.1em;
}

.modal-content {
    border-radius: 0;
}
.modal-content input {
    border-radius: 0!important;
}
.form-control:focus {
    border-color: #6944D0;
}
